


.paper-container{
  padding: 2em !important;
  background-color: #fbfff0 !important;
}



/********* CSS FOR TABLE ON ADMIN PAGE WITH DELETE BUTTONS **********/

h1{
  margin-left: 0.6%;
  margin-top: 1%;
  font-weight: lighter;
}

.deleteAll {
  display: inline-block;
  float: right;
  margin-right: 7.1%;
}

table{
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid white;
  margin-left: 0.6%;
  background-color: #fbfff0 !important;
}

.modalIcon {
  flex: 1;
  padding: 0.2em;
  font-size: 100% !important;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconP{
    width: 40%;
    margin: 0 auto;
}

.col {
  flex: 1;
  padding: 0.2em;
}

.statusText {
  width: 100%;
  text-align: center;
}

.modalList{
  display: inline-block;
}





/********* Delete button styling, shape and size **********/
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

/********* Delete button coloring  **********/
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}

/********* Delete button placement **********/
.delete {
  text-align: right;
  padding: 0.5%;

}


/********* CSS for table on admin page with delete buttons **********/
table{
  width: 70%;
  background-color: rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid white;
  margin-left: 0.6%;
}




/********* Delete button styling, shape and size **********/
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}



/********* Delete button coloring  **********/
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}


/********* Delete button placement **********/
.delete {
  text-align: right;
  padding: 0.5%;
}

.deleteButtonPlacement {
  float: right;
  display: inline-block;
}

.state-active *{
  color: #9ddb48 !important;
  font-weight: bold;

  letter-spacing: 1px;

}

.state-inactive *{
  
  color: #ffe541 !important;
  font-weight: bold;

  letter-spacing: 1px;
}

.state-terminated *{
 color: #ff6651 !important;
 font-weight: bold;

  letter-spacing: 1px;
}

.search *{
  color: #7CB342 !important;
  font-weight: bold;
  margin-left: 1% !important;
  display: inline-block;
  margin-right: 0.5%;
  margin-top: 0.8%;
  float: left;
}

.header{
  border-left: 8px solid #7CB342;
  padding-left: 0.6%;
  margin-left: 1.4%;
}

.dialogColor > div:first-child {
  background-color: #9CCC65 !important;
}

.state-reserved *{
  color: lightskyblue !important;
  font-weight: bold;
  letter-spacing: 1px;
}
.state-feasibilityChecked *{
  color: #ffa64c !important;
  font-weight: bold;
  letter-spacing: 1px;
}
.state-designed *{
  color: #c270ff !important;
  font-weight: bold;
  letter-spacing: 1px;
}

.tableRow:hover{
  background-color: lightgray;
}
.tableHead{
  color: black !important;
}
.tableHeader{
  cursor: pointer;
}
.tableHeader th{
  color: #000 !important;
}
.tableHeader:hover{
  color: #70b13d !important;
  font-size: 90% !important;
  font-weight: 500 !important;
}
