


.paper-container{
  padding: 2em !important;
  background-color: #fbfff0 !important;
}



/********* CSS FOR TABLE ON ADMIN PAGE WITH DELETE BUTTONS **********/

h1{
  margin-left: 0.6%;
  margin-top: 1%;
  font-weight: lighter;
}

.deleteAll {
  display: inline-block;
  float: right;
  margin-right: 6%;
}

table{
  width: 70%;
  background-color: rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid white;
  margin-left: 0.6%;
  background-color: #fbfff0 !important;
}



/********* Delete button styling, shape and size **********/
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

/********* Delete button coloring  **********/
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}

/********* Delete button placement **********/
.delete {
  text-align: right;
  padding: 0.5%;

}


/********* CSS for table on admin page with delete buttons **********/
table{
  width: 70%;
  background-color: rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid white;
  margin-left: 0.6%;
}




/********* Delete button styling, shape and size **********/
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}



/********* Delete button coloring  **********/
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}


/********* Delete button placement **********/
.delete {
  text-align: right;
  padding: 0.5%;
}

.state-active{
  color: #9ddb48;
  font-weight: bold;
  -webkit-text-stroke: 0.2px #3f572a;
  letter-spacing: 1px;
}

.state-inactive{
  
  color: #ffe541;
  font-weight: bold;
  -webkit-text-stroke: 0.1px #7e6d18;
  letter-spacing: 1px;
}

.state-terminated{
 color: #ff6651;
 font-weight: bold;
  -webkit-text-stroke: 0.2px #772f26;
  letter-spacing: 1px;
}

.state-feasibilityChecked, .state-designed, .state-reserved{
  background-color: #0A72CC;
}

.tableRow:hover{
  background-color: lightgray;
}

.tableHeader{
  cursor: pointer;
  background-color: #DCEDC8;
}

.tableHeader:hover{
  color: #17570d !important;
  font-size: 90% !important;
  font-weight: 500 !important;
}
