


.paper-container{
  padding: 2em !important;
}


/********* CSS FOR TABLE ON ADMIN PAGE WITH DELETE BUTTONS **********/

h1{
  margin-left: 0.6%;
  margin-top: 1%;
}

table{
  width: 70%;
  background-color: rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid white;
  margin-left: 0.6%;
}



/********* Delete button styling, shape and size **********/
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

/********* Delete button coloring  **********/
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}

/********* Delete button placement **********/
.delete {
  text-align: right;
  padding: 0.5%;

}


/********* CSS for table on admin page with delete buttons **********/
table{
  width: 70%;
  background-color: rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid white;
  margin-left: 0.6%;
}




/********* Delete button styling, shape and size **********/
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}



/********* Delete button coloring  **********/
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}
.badge-danger {
  color: #fff;
  background-color: #d9534f;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #c9302c;
}


/********* Delete button placement **********/
.delete {
  text-align: right;
  padding: 0.5%;
}