

.login-body{
  padding: 2em;
}

.login-header{
  padding: 0.5em;
  background-color: #AED581 !important;
  color: white !important;
  vertical-align: middle;
}

.dialogHelpColor > div:first-child {
  background-color: #9CCC65 !important;
}