.form {
  margin-left: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.relatedParty {
  padding-left: 8%;
}

.advanced {
  margin-right: 2% !important;
}

.toggle {
  width: 30%;
  margin-top: 3%;
}
.formtext {
  width: 30% !important;

  padding-right: 10% !important;
  margin-right: 3% !important;
}

.dropdown {
  margin-top: 3%;
}

h1{
  margin-left: 0.6%;
  margin-top: 2%;
  font-family: Arial;
}
h3{
  font-family: Arial;
}

